<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="icon" type="image/x-icon" href="/static/favicon.png">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="/static/css/style.css">
      <title>Vending Machine</title>      
   </head>
   <body>
      <!-- create a center aligned div -->
      <div class="container">
      <div class="row">
         <div class="col-12 main-container">
            <div class="row">
               <div class="col-8 border-all">
                <div class="container bootstrap snipets" style="padding: 16px 0px;">                    
                    <div class="row flow-offset-1" id="products_grid">
                      
                    </div>
                  </div>
               </div>
               <div class="col-4 border-all" style="padding: 16px 16px;">
                  <ul class="list-group" id="selected_products_list" style="padding: 0px 0px;height: 400px;overflow-y: auto;">
                    <li class="list-group-item" id="no_product_selected_message">
                        <h6 style="margin: 40px 20px;" class="text-center">No product selected, please select products from products list.</h6>
                    </li>
                  </ul>

                  <ul class="list-group selected_products_pay" id="selected_products_pay" style="display: none;">
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="padding: 4px 4px;font-size: 90%;">
                           <span style="width:80%;float: left;">Total Amount: </span>
                           <span style="width:18%;float: right;margin-right: 4px;" class="badge badge-success badge-pill" id="amount_to_pay"></span>                           
                        </li>
                   </ul>
                   <button onclick="payAmount()" style="margin-top: 16px;display: none;" class="btn btn-danger btn-sm btn-block selected_products_pay">Pay Amount</button>

               </div>
            </div>
         </div>
      </div>
      <!-- JQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
      <script src="/static/js/index.js"></script> 
   </body>
</html>
